*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    min-height: 100%;
    background-color: #f5f4ff;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #1c1c1c;
    min-width: 480px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #000000;
}
input {
    outline: none;
}
h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 0;
}
.container {
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
header {
    flex: 0 0 auto;
}
main {
    flex: 1 1 auto;
}
footer {
    flex: 0 0 auto;
}
