*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#root {
    height: 100vh;
}
html,
body {
    min-height: 100%;
    background-color: #f5f4ff;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #1c1c1c;
    min-width: 480px;
    scroll-behavior: smooth;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #000000;
}
input {
    outline: none;
}
h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 0;
}
.container {
    padding: 0;
}
p {
    margin-bottom: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
header {
    flex: 0 0 auto;
}
main {
    flex: 1 1 auto;
}
footer {
    flex: 0 0 auto;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #f9f5e3 inset !important;
}
input:-webkit-autofill {
    -webkit-text-fill-color: #808080 !important;
}
