*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

html,
body {
  min-height: 100%;
  background-color: #f5f4ff;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #1c1c1c;
  min-width: 480px;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

input {
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

.container {
  padding: 0;
}

p {
  margin-bottom: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1 1 auto;
}

footer {
  flex: 0 0 auto;
}

.header {
  height: 64px;
}

.bank-logo a {
  font-size: 24px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #b4387a;
}

.product-nav {
  display: none;
  width: 437px;
}

.product-nav a {
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.02em;
  font-feature-settings: "salt" on, "liga" off;
}

.product-nav_active {
  color: #b2a35f;
}

.product-nav_inactive {
  color: #1d1929;
}

.btn_online {
  display: none;
  width: 128px;
  height: 50px;
}

.mdi-menu {
  font-size: 40px;
  color: #b4387a;
  cursor: pointer;
}

.mdi-window-close {
  font-size: 30px;
  color: whitesmoke;
  cursor: pointer;
}

.mdi-window-close:hover {
  color: #b4387a;
}

.burger-menu {
  display: block;
}

.burger-menu_inner {
  position: absolute;
  top: 5px;
  right: 30px;
}

.burger-menu_nav {
  padding-top: 120px;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 100%;
  background: #2b343c;
  overflow-y: auto;
  right: -100%;
  transition: 0.8s;
}

.burger-menu_active .burger-menu_nav {
  right: 0;
  transition: 0.4s;
}

.btn__inner {
  width: 128px;
  height: 50px;
  display: block;
  position: fixed;
  z-index: 20;
  right: -100%;
}

.burger-menu_active .btn__inner {
  bottom: 150px;
  right: 45px;
  transition: 0.4s;
}

.burger-menu_link {
  padding: 10px 35px;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 5px;
  font-weight: 400;
  color: whitesmoke;
}

.burger-menu_link:first-child {
  border-top: 1px solid #fff;
}

.burger-menu_link:hover {
  color: #b4387a;
  filter: brightness(0.9);
}

.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 10;
}

.burger-menu_active .burger-menu_overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 500px) {
  .product-nav,
.btn_online {
    display: none;
  }
  .burger-menu {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .product-nav {
    display: flex;
    width: 365px;
  }
  .product-nav a {
    font-size: 14px;
  }
  .btn_online {
    display: block;
  }
  .burger-menu {
    display: none;
  }
}
@media screen and (min-width: 920px) {
  .product-nav {
    width: 437px;
  }
  .product-nav a {
    font-size: 16px;
  }
}
footer {
  background: linear-gradient(0deg, rgba(178, 178, 178, 0.2), rgba(178, 178, 178, 0.2)), #f4f4f4;
}

.footer__spacer {
  margin-top: 35px;
}

.footer__top {
  height: 74px;
  margin-top: 15px;
}

.contacts {
  padding-top: 15px;
}

.contacts span:first-child {
  font-size: 30px;
  line-height: 147.4%;
  text-align: center;
  color: #000000;
}

.contacts span:last-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #2d3748;
}

.contacts span:last-child {
  align-self: flex-end;
}

.footer__bottom {
  margin-top: 32px;
}

.bank-nav {
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1242px;
}

.bank-nav__item {
  padding-left: 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #000000;
}

.bank-nav__item:first-child,
.bank-nav__item:last-child {
  padding-top: 0;
}

.spacer {
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.81);
  background: rgba(255, 255, 255, 0.81);
  transform: rotate(179.82deg);
}

.spacer__spacing {
  margin-top: 28px;
}

.cookies-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #2d3748;
  text-align: center;
}

.cookies-info__spacing {
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .bank-nav {
    height: 56px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cookies-info {
    text-align: start;
  }
}
@media screen and (min-width: 920px) {
  .footer__top {
    margin-top: 70px;
  }
  .footer {
    height: 400px;
    padding-bottom: 10px;
  }
  .bank-nav {
    justify-content: flex-start;
    height: 58px;
    flex-direction: column;
  }
  .bank-nav__item {
    padding-left: 0;
    font-size: 16px;
  }
}
@media screen and (min-width: 1300px) {
  .footer__top {
    margin-top: 96px;
  }
  .footer {
    height: 462px;
    padding-bottom: 10px;
  }
  .footer__spacer {
    margin-top: 98px;
  }
  .bank-nav {
    justify-content: space-between;
    height: 56px;
    flex-direction: row;
  }
  .bank-nav__item {
    padding-left: 0px;
    font-size: 14px;
  }
  .bank-nav__item {
    padding-left: 32px;
    font-size: 16px;
  }
  .bank-nav__item:first-child,
.bank-nav__item:last-child {
    padding-left: 0;
  }
  .cookies-info {
    font-size: 16px;
  }
  .cookies-info__spacing {
    margin-top: 32px;
  }
  .contacts span:last-child {
    align-self: flex-start;
  }
}
.btn {
  background: #003cff;
  border-radius: 16px;
  border-color: transparent;
  font-size: 16px;
  line-height: 112%;
  text-align: center;
  letter-spacing: 0.02em;
  font-feature-settings: "salt" on, "liga" off;
  color: #ffffff;
}

.btn:hover {
  background: #7796c0;
  border-color: #7796c0;
  color: #ffffff;
}

.modal__overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  max-width: 448px;
  width: 100%;
  padding: 16px;
  background: #fff;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  font-size: 16px;
  font-weight: 700;
}

.modal__desc {
  margin-top: 16px;
}

.modal__btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 46px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.modal__close {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
}

.modal__btns-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__btn-deny {
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
  color: #fff;
  width: 96px;
  height: 40px;
  border: 0;
  background: rgba(217, 55, 55, 0.8);
  border-radius: 8px;
}

.modal__btn-cancel {
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 96px;
  height: 40px;
  border: 0;
  background: #003cff;
  border-radius: 8px;
  color: #fff;
}

.loader-wrapper {
  align-self: center;
  margin: 0 auto;
}

.loader__pin {
  margin-top: 100px;
}

.loader,
.loader-news {
  width: 76px;
  height: 76px;
  border: 2px solid #b4387a;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-animation: loader 0.7s linear infinite;
          animation: loader 0.7s linear infinite;
}

@-webkit-keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
.hide-loader {
  display: none;
}

.cards-design_spacing {
  margin-top: 35px;
}

.cards-design div:first-child {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cards-design__promo-text {
  width: 100%;
  font-size: 33px;
  text-align: center;
  font-weight: 700;
  line-height: 50px;
  color: #1c1c1e;
}

.cards-design__choose-btn {
  width: 160px;
  height: 50px;
  margin-top: 22px;
}

.cards-design__promo-cards {
  max-width: 464px;
  height: 315px;
  margin-top: 35px;
}

.cards-design__promo-cards img {
  height: 153px;
  width: 228px;
}

.features__img {
  background: url("../../img/features-sm.svg");
  height: 414.71px;
}

.features__textblock {
  margin-top: 25px;
}

.features__textblock div:first-child {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 50px;
  color: #0b132a;
}

.features__textblock div:nth-child(2) {
  margin-top: 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

.features__list {
  height: 152px;
  margin-top: 25px;
  margin-left: 38px;
}

.features__item {
  position: relative;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}

.features__item::before {
  content: url("../../img/checkmark.svg");
  position: absolute;
  left: -36px;
  top: 4px;
}

.exchange {
  background: linear-gradient(358.2deg, rgba(178, 178, 178, 0.8) 8.06%, rgba(178, 178, 178, 0) 67.93%), rgba(244, 244, 244, 0.9);
  mix-blend-mode: normal;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(187, 187, 187, 0.2);
  border-radius: 28px;
}

.exchange_spacing {
  margin-top: 35px;
  padding-left: 26px;
  padding-right: 32px;
}

.exchange__courses {
  padding-top: 35px;
}

.exchange__courses h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 50px;
  color: #1c1c1e;
}

.exchange__title {
  margin-top: 21px;
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.exchange__list {
  margin-top: 32px;
  width: 410px;
  min-height: 76.8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.list-error {
  width: inherit;
  color: red;
}

.exchange__item span:last-child {
  margin-left: 20px;
}

.exchange__item span {
  font-weight: 700;
  font-size: 20px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #000000;
}

.exchange__link_colored {
  margin-top: 51px;
  font-weight: 700;
  font-size: 20px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.exchange__item span:first-child {
  color: #808080;
  mix-blend-mode: normal;
}

.exchange__update-time {
  padding-top: 50px;
  padding-bottom: 10px;
}

.exchange__update-time svg {
  display: none;
  margin-top: 90px;
}

.presence_spacing {
  margin-top: 35px;
}

.presence h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  color: #1c1c1c;
}

.presence h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #1c1c1e;
}

.presence__map {
  margin-top: -128px;
  width: 464px;
  height: 392px;
  background: url("../../img/map-sm.svg");
}

.news_spacing {
  margin-top: 35px;
}

.news h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  color: #000000;
}

.news h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #2d3748;
}

.news-slider {
  max-width: 1300px;
  /* margin: auto;
  padding: 15px; */
  text-align: center;
  position: relative;
}

.news-slider-loading {
  width: 100%;
}

.news-slider_spacing {
  margin-top: 46px;
}

.scroller {
  overflow: hidden;
  display: flex;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.scroller-loading {
  justify-content: center;
}

.news-items-block {
  display: flex;
  justify-content: space-between;
  height: 448px;
}

.news-item {
  width: 320px;
  height: 448px;
  scroll-snap-align: start;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  border: 2px solid #bbbbbb;
  margin: 0 40px;
  cursor: pointer;
}

.news-item:first-child {
  margin-left: 21px;
}

.card {
  width: 256px;
  height: 384px;
}

.card img {
  width: 256px;
  height: 120px;
}

.card p {
  margin-top: 32px;
  font-weight: 500;
  text-align: center;
  overflow: hidden;
}

.card p:nth-child(2) {
  height: 104px;
  font-size: 20px;
  line-height: 25px;
}

.card p:last-child {
  height: 96px;
  font-size: 16px;
  line-height: 23px;
  cursor: pointer;
}

.card p:last-child:hover {
  text-decoration: underline;
}

.btns-block {
  display: flex;
  justify-content: flex-end;
}

.btns-block_spacing {
  margin-top: 48px;
}

.left-btn,
.right-btn {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  border: none;
}

.right-btn {
  margin-left: 20px;
}

.left-btn_enabled {
  background: #003cff;
  background-image: url("../../img/arr-left-en.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.left-btn_disabled {
  background: #ffffff;
  background-image: url("../../img/arr-left-dis.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.right-btn_enabled {
  background: #003cff;
  background-image: url("../../img/arr-right-en.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.right-btn_disabled {
  background: #ffffff;
  background-image: url("../../img/arr-right-dis.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1490px) {
  .news-slider {
    max-width: 888px;
  }
  .scroller {
    margin-left: 92px;
  }
}
@media only screen and (max-width: 1300px) {
  .news-slider {
    max-width: 888px;
  }
}
@media only screen and (max-width: 900px) {
  .news-slider {
    max-width: 720px;
  }
  .scroller {
    margin-left: 0;
  }
  .news-item {
    margin: 0 22px;
  }
  .btns-block {
    justify-content: center;
  }
}
@media only screen and (max-width: 732px) {
  .news-slider {
    max-width: 321px;
  }
}
.subscribe_spacing {
  margin-top: 35px;
}

.subscribe__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 147.4%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #eb801d;
}

.subscribe__subscribed {
  padding-top: 24px;
  color: darkgray;
  font-size: 16px;
}

.subscribe__error {
  padding-top: 24px;
  color: red;
  font-size: 16px;
}

.subscribe__text {
  margin-top: 14px;
  font-size: 25px;
  line-height: 147.4%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #1c1c1e;
}

.subscribe__text_weight {
  font-weight: 700;
}

.subscribe-form {
  height: 90px;
  padding: 0 32px 0 32px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(54, 58, 120, 0.1);
  border-radius: 20px;
}

.subscribe-form_spacing {
  margin-top: 25px;
}

.subscribe-form__email-wrapper {
  position: relative;
  padding-left: 43px;
}

.subscribe-form__email {
  border: 0;
}

.subscribe-form__email-wrapper::before {
  content: url("../../img/email.svg");
  position: absolute;
  left: 0px;
  top: -5px;
}

input[placeholder] {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #9092b0;
}

.subscribe-form__btn {
  width: 161.48px;
  height: 44.92px;
  padding-left: 30px;
  position: relative;
  background: #686df1;
  border-color: transparent;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 126.9%;
  color: #ffffff;
}

.subscribe-form__btn::before {
  content: url("../../img/send.svg");
  position: absolute;
  left: 15px;
  top: -3px;
}

@media screen and (min-width: 768px) {
  .cards-design__promo-text {
    font-size: 27px;
  }
  .cards-design__promo-cards {
    max-width: 512px;
    height: 315px;
  }
  .cards-design__promo-cards img {
    width: 251px;
  }
  .features__img {
    margin-top: 35px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .subscribe__subscribed {
    font-size: 24px;
  }
  .subscribe__error {
    font-size: 24px;
  }
}
@media screen and (min-width: 920px) {
  .cards-design div:first-child {
    align-items: flex-start;
  }
  .cards-design__promo-text {
    text-align: start;
  }
  .cards-design__promo-text {
    font-size: 26px;
  }
  .cards-design__promo-cards {
    margin-top: 0;
    max-width: 465px;
  }
  .cards-design__promo-cards img {
    width: 228px;
  }
  .features__img {
    background: url("../../img/features-sm-flex.svg");
    width: 350px;
    height: 400px;
  }
  .features__textblock {
    max-width: 500px;
  }
  .features__textblock div:first-child {
    font-size: 28px;
  }
  .features__textblock div:nth-child(2) {
    font-size: 13px;
  }
  .exchange_spacing {
    margin-top: 0;
  }
  .exchange__update-time svg {
    margin-top: 90px;
    display: block;
  }
  .exchange__link_colored {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1300px) {
  .cards-design_spacing {
    margin-top: 132px;
  }
  .cards-design div:first-child {
    max-width: 610px;
    display: block;
  }
  .cards-design__promo-text {
    font-size: 48px;
    text-align: start;
  }
  .cards-design__choose-btn {
    margin-top: 38px;
  }
  .cards-design__promo-cards {
    max-width: 518px;
  }
  .cards-design__promo-cards img {
    height: 149px;
    width: auto;
  }
  .features_spacing {
    margin-top: 112px;
  }
  .features__img {
    background: url("../../img/features.svg");
    width: 508.12px;
    height: 414.71px;
  }
  .features__textblock {
    margin-top: 25px;
    max-width: none;
  }
  .features__textblock div:first-child {
    font-size: 35px;
  }
  .features__textblock div:nth-child(2) {
    font-size: 16px;
  }
  .exchange {
    height: 366px;
  }
  .exchange_spacing {
    margin-top: 68px;
  }
  .exchange__courses {
    padding-top: 12px;
  }
  .exchange__courses h3 {
    font-size: 30px;
  }
  .exchange__title {
    margin-top: 24px;
  }
  .exchange__update-time {
    padding-top: 25px;
    padding-bottom: 0;
  }
  .presence {
    height: 644px;
  }
  .presence_spacing {
    margin-top: 24px;
  }
  .presence h5 {
    margin-top: 10px;
  }
  .presence__map {
    margin-top: 48px;
    width: 1060px;
    height: 537.77px;
    background: url("../../img/map.svg");
  }
  .subscribe_spacing {
    margin-top: 48px;
  }
  .subscribe__text {
    margin-top: 30px;
    font-size: 30px;
  }
  .subscribe-form {
    width: 525px;
  }
  .subscribe-form_spacing {
    margin-top: 62px;
  }
}
.cardAds {
  height: 390px;
  background: linear-gradient(180.8deg, rgba(203, 213, 224, 0.624) 34.33%, rgba(254, 235, 200, 0.56) 64.27%);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28.8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cardAds_spacing {
  margin-top: 20px;
}

.cardAds__wrapper {
  display: flex;
  justify-content: center;
  background-image: none;
}

.cardAds__info {
  max-width: 480px;
  margin-top: 48px;
}

.cardAds__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.cardAds__description {
  max-width: 515px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 48px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 112%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2d3748;
  text-align: center;
}

.payment-info {
  padding-left: 15px;
  padding-right: 15px;
}

.payment-info__details {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.payment-info__details p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 112%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #3d3d3d;
}

.payment-info__details .payment-info__details_bold {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 13px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.cardAds__btn {
  margin-top: 32px;
  width: 149px;
  height: 50px;
  border-radius: 8px;
}

@media screen and (min-width: 1300px) {
  .cardAds__wrapper {
    background-position: center right 100px;
  }
  .cardAds__info {
    margin-left: 32px;
    max-width: 650px;
  }
  .cardAds__title {
    text-align: left;
  }
  .cardAds__description {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 16px;
    text-align: left;
  }
  .payment-info {
    padding-left: 0px;
    padding-right: 0px;
  }
  .payment-info__details {
    padding-top: 32px;
    align-items: flex-start;
  }
  .payment-info__details_bold p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #3d3d3d;
  }
  .payment-info__details .payment-info__details_bold {
    font-weight: 700;
    font-size: 20px;
  }
  .btn-wrapper {
    justify-content: flex-start;
  }
  .cardAds__btn {
    margin-top: 32px;
    width: 149px;
    height: 50px;
    border-radius: 8px;
  }
  .step-separator {
    margin-right: 0;
  }
  .step__description {
    font-size: 16px;
  }
}
.tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted #ccc;
  color: #006080; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 170px;
  height: 36px;
  background: #3d3d3d;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 8px 30px 8px 7px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip-bottom {
  top: 80px;
  left: -10px;
}

.about-info_spacing {
  margin-top: 48px;
}

.about-info__tabs {
  max-width: 1300px;
  width: 100%;
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
  padding-bottom: 8px;
}

.about-info__tab {
  display: none;
}

.active {
  display: block;
}

#tab_01 {
  margin-top: 49px;
}

#tab_02 {
  margin-top: 40px;
}

#tab_03 {
  margin-top: 32px;
}

.about-info__faq-title {
  margin-top: 44px;
  margin-bottom: 32px;
  font-size: 30px;
  font-weight: 700;
}

.about-info__faq-det {
  border: 1px #e2e8f0 solid;
  padding: 32px 38px 25px 32px;
}

.about-info__faq-text {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  list-style: none;
  font-weight: 500;
  margin-bottom: 56px;
  align-items: center;
}

summary::after {
  content: "";
  background-image: url("../../img/faq_arrow_svg.svg");
  width: 14px;
  height: 9px;
  background-repeat: no-repeat;
  display: block;
}

details[open] summary:after {
  width: 20px;
  height: 10px;
  transform: rotate(180deg);
}

.about-info__faq-desc {
  color: #7b7454;
  font-weight: 400;
}

.about-info__items {
  display: flex;
  padding: 0 16px;
}

.about-info__item {
  margin-right: 32px;
}

.about-info__link {
  border: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #7b7454;
  position: relative;
}
.about-info__link:hover::before {
  transform: scaleX(1.37);
  transition: transform 0.3s;
}
.about-info__link::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #7b7454;
  position: absolute;
  left: 0;
  bottom: -13px;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.active-tabs.about-info__link::before {
  transform: scaleX(1.37);
  transition: transform 0.3s;
}

.about-info__cards-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-info__cards-item {
  background: #eaecee;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  padding: 42px 40px 32px 32px;
  max-width: 406.66px;
  max-height: 236px;
  width: 100%;
  margin-bottom: 40px;
}

#tab_01 .about-info__cards-item:nth-child(2n) {
  background: rgba(127, 146, 172, 0.7);
}

#tab_03 .about-info__cards-item:nth-child(2n) {
  background-color: rgba(136, 179, 184, 0.6);
}

#tab_03 .about-info__cards-item {
  height: 163px;
}

.about-info__cards-item--long:nth-child(2) {
  background: rgba(127, 146, 172, 0.7);
}

.about-info__cards-item--long:nth-child(4) {
  background: rgba(127, 146, 172, 0.7);
  width: 100%;
}

.about-info__cards-item:nth-child(5) {
  width: 100%;
}

.about-info__cards-title {
  margin-top: 15px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
}

#tab_03 .about-info__cards-desc {
  margin: 0;
}

.about-info__cards-title-lg--size {
  font-size: 36px;
  margin: 32px 0;
}

.about-info__cards-desc {
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
}

.about-info__rates-texts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1016px;
  font-weight: 500;
}

.about-info__rates-texts:nth-last-child(n+2) {
  border-bottom: 1px solid #7f92ac;
  margin-bottom: 24px;
}

.about-info__rates-left {
  text-align: left;
  flex: 1 0 32%;
}

.about-info__rates-right {
  flex: 1 0 60%;
}

@media screen and (min-width: 768px) {
  .about-info__link {
    font-size: 16px;
  }
}
@media screen and (min-width: 920px) {
  .about-info__cards-items {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .about-info__cards-items {
    justify-content: space-evenly;
  }
  .about-info__cards-desc {
    font-size: 16px;
    line-height: 100%;
  }
}
@media screen and (min-width: 1300px) {
  .get-card__items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .about-info__cards-items {
    justify-content: space-between;
  }
  .about-info__cards-item {
    width: 31.6%;
  }
  .about-info__cards-item--long {
    width: 50%;
    max-width: 630px;
  }
  .about-info__cards-item--long {
    width: 50%;
    max-width: 630px;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .about-info__cards-items {
    justify-content: space-between;
  }
  .about-info__cards-item--long {
    width: 50%;
    max-width: 595px;
  }
  .about-info__cards-item--long {
    width: 50%;
    max-width: 595px;
  }
}
.accordion-box {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  justify-content: center;
  margin: 0 auto;
}

.accordion-header {
  margin-top: 44px;
  margin-bottom: 32px;
  font-size: 30px;
  font-weight: 700;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  border: 1px #e2e8f0 solid;
  padding: 32px;
  cursor: pointer;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  transform: rotate();
}

.accordion-desc {
  margin-right: 32px;
  display: flex;
  cursor: default;
  font-weight: 500;
}

.accordion-arrow {
  transform: rotate(180deg);
}

.accordion-content {
  color: #7b7454;
  font-weight: 400;
  cursor: default;
  -webkit-animation: acp 2s;
          animation: acp 2s;
  margin-top: 56px;
}

.wizard_spacing {
  margin-top: 48px;
}

.wizard__title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 147.4%;
  color: #000000;
}

.stepper_spacing {
  margin-top: 14px;
}

.step__first {
  max-width: 334px;
}

.step__second {
  max-width: 385px;
}

.step__third {
  max-width: 419px;
}

.step-num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background: #d9d9d9;
  border-radius: 50px;
}

.step-separator {
  background-color: rgba(128, 128, 128, 0.2);
  transform: rotate(179.82deg);
  height: 2px;
  flex-grow: 1;
  display: none;
}

.step__description {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
}

.customize__spacer {
  margin-top: 44px;
}

.customize__loader-center {
  display: flex;
  justify-content: center;
}

.customize__wrapper {
  max-width: 1300px;
  margin: auto;
  padding: 32px;
  background-color: rgb(255, 255, 255);
  /* display: flex; */
  justify-content: space-between;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
}

.customize__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.customize__border {
  width: 220px;
  height: 0px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 10px;
  margin-bottom: 32px;
}

.customize__left-block {
  flex-basis: 100%;
}

.customize__right-block {
  flex-basis: 100%;
}

.customize__title {
  font-weight: 700;
}

.customize__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.customize__calc-content {
  border: 1px solid #5b35d5;
  padding: 24px 24px 41px 24px;
  border-radius: 10px;
  max-width: 100%;
  margin: 32px auto;
}

.customize__select-amount {
  margin-bottom: 25px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.customize__select-amount-text {
  margin-bottom: 20px;
}

.customize__range-prices {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  color: #786d6d;
}

.customize__range-bar {
  background-color: rgb(226, 232, 240);
  border-radius: 15px;
  display: block;
  height: 3px;
  position: relative;
  width: 100%;
  margin-top: 22px;
}

.customize__range-handle {
  background-color: #5b35d5;
  border-radius: 100%;
  cursor: move;
  height: 30px;
  left: 0;
  top: -13px;
  position: absolute;
  width: 30px;
}

.customize__range-quantity {
  background-color: #017afd;
  border-radius: 15px;
  display: block;
  height: 100%;
  width: 0;
}

.customize__information-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 26px;
}

.customize__information-heading_right {
  margin-bottom: 16px;
}

.customize__range {
  display: flex;
  max-width: 100%;
  width: 100%;
}

.range__slider {
  width: 45%;
}

.range__value {
  width: 35%;
  margin-left: 45px;
  text-align: center;
  border-left: #e6e4e4 1px solid;
}

.registration__form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.form-group label {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #222;
  margin-bottom: 5px;
}

.form-group span {
  font-size: 2rem;
  font-weight: 600;
  color: #3c3b3b;
}

.range__slider label {
  margin-bottom: 10px;
}

.range__slider [type=range] {
  width: 100%;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  height: 3px;
  border-radius: 6px;
  background: #f1f1f1;
  outline: none;
  padding: 0;
  margin: 0;
}

.range__slider [type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #5b35d5;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.range__slider [type=range]::-webkit-slider-thumb:hover {
  background: #2d1090;
}

.range__slider [type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #5b35d5;
  cursor: pointer;
  -moz-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.range__slider [type=range]::-moz-range-thumb:hover {
  background: #2d1090;
}

/* remove border */
input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.form__dropdown-button {
  background: #f9f5e3;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 6px;
  width: 100%;
  height: 40px;
  font-weight: 400;
  line-height: 100%;
  align-items: center;
  padding: 0 20px 0 16px;
  margin-bottom: 0;
  font-size: 14px;
  display: flex;
  position: relative;
}

.form__dropdown-button-arrow {
  position: absolute;
  right: 20px;
  top: 48px;
}

.form__dropdown-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form__dropdown-text {
  color: #000000;
}

.form__dropdown-list-item {
  padding: 7px 0;
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
}

.form__dropdown-list {
  background: #f9f5e3;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 100%;
  font-size: 14px;
  padding: 0 20px 0 16px;
  position: absolute;
  z-index: 1;
  display: none;
  line-height: 100%;
  align-items: center;
  color: #808080 !important;
}

.form__dropdown-list--visible {
  display: block;
}

@media screen and (min-width: 500px) {
  .customize__left-block {
    flex-basis: 100%;
  }
  .customize__right-block {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .customize__left-block {
    flex-basis: 55%;
  }
  .customize__right-block {
    flex-basis: 33%;
  }
  .customize__border-dashed {
    border-right: 1px dashed rgba(128, 128, 128, 0.4);
  }
}
.form__inner {
  display: flex;
  flex-direction: column;
}

.form__text {
  margin: 0 0 8px 0;
  font-weight: 500;
}

.form__text-red {
  color: #ff0000;
}

.form__left {
  display: flex;
  justify-content: space-between;
}

.form__fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form__wrapper-input {
  max-width: 100%;
  width: 100%;
  position: relative;
}

.form__field {
  background: #f9f5e3;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 6px;
  width: 100%;
  height: 40px;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 100%;
  align-items: center;
  color: #808080 !important;
  padding-left: 16px;
  margin-bottom: 6px;
}

.form__field:focus {
  border: 2px solid #5b35d5;
}

select {
  color: #5b35d5;
  outline: none;
}

.input__wrapper {
  position: relative;
}

.icon-svg {
  position: absolute;
  right: 11px;
  top: 12px;
}

.form__btn {
  width: 148px;
  border-radius: 8px !important;
  padding: 16px 38px 14px 38px;
  align-self: flex-end;
  margin-top: 8px;
}

.form__error {
  margin-bottom: 16px;
  color: #ff5631;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

@media screen and (min-width: 500px) {
  .form__fields {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .form__fields {
    justify-content: space-between;
  }
}
@media screen and (min-width: 920px) {
  .form__wrapper-input {
    max-width: 195px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .form__wrapper-input {
    max-width: 190px;
    width: 100%;
  }
}
@media screen and (min-width: 1300px) {
  .form__fields {
    justify-content: space-between;
  }
  .form__wrapper-input {
    max-width: 297px;
    width: 100%;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .form__wrapper-input {
    max-width: 275px;
    width: 100%;
  }
}
.icon_offer {
  padding-bottom: 2px;
  padding-left: 5px;
}

select {
  color: #000000 !important;
}

.input-error {
  border: 2px solid #ff5631;
}

.input-success {
  border: 1px solid red;
}

.giftbox__items {
  display: flex;
  justify-content: center;
  margin-bottom: 96px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.giftbox__item {
  padding: 32px 0 32px 0;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 295px;
  margin-bottom: 40px;
}
.giftbox__item:hover {
  outline: 2px solid #003cff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
}

.giftbox__list {
  margin-top: 32px;
}

.giftbox__list-item {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #1c1c1e;
}

.giftbox__btn {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 93px auto 0 auto;
  width: 148px;
  padding: 8px;
  height: 48px;
  background: #003cff;
  border-radius: 8px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 620px) {
  .giftbox__items {
    gap: 40px;
  }
}
@media screen and (min-width: 768px) {
  .giftbox__items {
    gap: 40px;
  }
}
@media screen and (min-width: 1300px) {
  .giftbox__items {
    gap: 40px;
    justify-content: space-between;
  }
}
.msg {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  margin-top: 71px;
  border: 2px solid rgb(91, 53, 213);
  border-radius: 10px;
  margin-bottom: 96px;
  padding: 15px;
}

.msg__title {
  padding-top: 24px;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 32px;
}

.msg__desc {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 34px;
}

@media screen and (min-width: 920px) {
  .cardAds__wrapper {
    background-image: url("../../img/cardAds.png");
    background-repeat: no-repeat;
    background-position: center right;
    width: 100%;
  }
  .cardAds__wrapper {
    justify-content: flex-start;
  }
  .step-separator {
    display: block;
  }
  .step-num,
.step-separator {
    margin-right: 36px;
  }
}
.errBlock__inner {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.errBlock__img {
  width: 100%;
  max-width: 526px;
}

.errbBock__text {
  margin-top: 47px;
  margin-bottom: 96px;
}

.errBlock__title-first {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 32px;
  width: 485px;
}

.errBlock__title-second {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 32px;
}

.errBlock__desc {
  font-size: 16;
  font-weight: 500;
  margin-bottom: 32px;
}

.errBlock__btn {
  font-size: 16px;
  color: #fff;
  background-color: #003cff;
  /* border: 1px solid #003CFF; */
  border-radius: 8px;
  padding: 11px 65px 11px 65px;
}

.continuation__spacing {
  margin-top: 24px;
  margin-bottom: 61px;
}

.continuation__wrapper {
  max-width: 1300px;
  margin: auto;
  padding: 32px;
  background-color: rgb(255, 255, 255);
  /* display: flex; */
  justify-content: space-between;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
}

.continuation__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.continuation__border {
  width: 220px;
  height: 0px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 10px;
  margin-bottom: 32px;
}

.continuation__title {
  font-weight: 700;
  font-size: 26px;
}

.continuation__heading {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin-bottom: 35px;
  -moz-column-gap: 80px;
       column-gap: 80px;
  flex-direction: column;
}

.continuation-form {
  display: flex;
  flex-direction: column;
}

.continuation-form__title {
  margin: 16px 0 32px 0;
}

.continuation-form__fields {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.continuation-form__text {
  margin: 0 0 8px 0;
  font-weight: 600;
}

.continuation-form__text-red {
  color: #ff0000;
}

.continuation-form__left {
  display: flex;
  justify-content: space-between;
}

.continuation-form__fields-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.continuation-form__fields-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.continuation-form__fields-bottom {
  flex-direction: column;
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.continuation-form__wrapper-input {
  max-width: 100%;
  width: 100%;
  position: relative;
}

.continuation-form__field {
  background: #f9f5e3;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 6px;
  width: 100%;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  align-items: center;
  color: #808080;
  padding-left: 16px;
  margin-bottom: 16px;
}

.continuation-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 148px;
  height: 48px;
  background: #003cff;
  border-radius: 8px;
  align-self: flex-end;
  margin-top: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #ffffff;
  border: 0;
}

@media screen and (min-width: 768px) {
  .continuation__title {
    font-weight: 700;
    font-size: 30px;
  }
}
@media screen and (min-width: 920px) {
  .continuation-form__fields-top {
    flex-direction: row;
  }
  .continuation__inner {
    justify-content: space-between;
  }
  .continuation__heading {
    flex-direction: row;
  }
  .continuation__inner {
    justify-content: space-between;
  }
  .continuation-form__fields-center {
    flex-direction: row;
  }
  .continuation-form__fields-bottom {
    flex-direction: row;
  }
  .continuation-form__fields {
    flex-direction: row;
  }
}
.decision__block {
  justify-content: center;
  text-align: center;
  margin-top: 190px;
  margin-bottom: 190px;
}

.decision__title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 32px;
}

.decision__desc {
  font-weight: 500;
  font-size: 16px;
}

.schedule__spacer {
  margin-top: 24px;
}

.schedule__loader-center {
  display: flex;
  justify-content: center;
}

.schedule__wrapper {
  max-width: 1300px;
  margin: auto;
  padding: 32px;
  background-color: rgb(255, 255, 255);
  /* display: flex; */
  justify-content: space-between;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
}

.schedule__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.schedule__border {
  width: 220px;
  height: 0px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 10px;
  margin-bottom: 32px;
}

.schedule__left-block {
  flex-basis: 100%;
}

.schedule__right-block {
  flex-basis: 100%;
}

.schedule__title {
  font-weight: 700;
}

.schedule__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.paymentShedule {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

.paymentShedule__tr {
  border-bottom: 1px solid #e2e8f0;
  padding: 5px;
}

.paymentShedule__title,
.paymentShedule__data {
  padding: 20px 0;
  font-size: 12px;
  position: relative;
}

.paymentShedule__title {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #4a5568;
  text-align: left;
  position: relative;
}

.sort-asc::after {
  content: "";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  background: url("../../img/up-arrow.svg") no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  cursor: pointer;
}

.sort-dsc::after {
  content: "";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  background: url("../../img/down-arrow.svg") no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  cursor: pointer;
}

.paymentShedule__btns .form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
  color: #fff;
  width: 96px;
  height: 40px;
  border: 0;
  background: rgba(217, 55, 55, 0.8);
  border-radius: 8px;
}

.paymentShedule__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 26px;
       column-gap: 26px;
}

.paymentShedule__btns {
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
  align-items: flex-end;
}

.paymentShedule__btn-wrapper span {
  font-weight: 400;
  font-size: 18px;
  line-height: 112%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1a202c;
}

.paymentShedule__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 96px;
  height: 40px;
  border: 0;
  background: #003cff;
  border-radius: 8px;
  color: #fff;
}

@media screen and (max-width: 920px) {
  .paymentShedule {
    border: 0;
  }
  .paymentShedule__tr tr {
    display: none;
  }
  .paymentShedule__tr {
    border-bottom: 1px solid black;
  }
  table td {
    display: block;
    text-align: right;
    border-bottom: 1px solid #e2e8f0;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    color: #4a5568;
  }
  .sort-adapt-asc::after {
    content: "";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    background: url("../../img/up-arrow.svg") no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -14px;
    cursor: pointer;
  }
  .sort-adapt-dsc::after {
    content: "";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    background: url("../../img/down-arrow.svg") no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -14px;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) {
  .paymentShedule__btn-wrapper {
    -moz-column-gap: 7px;
         column-gap: 7px;
  }
  .paymentShedule__btn-wrapper input {
    margin-left: 50px;
  }
  .paymentShedule__btn-wrapper span {
    font-size: 12px;
  }
}
.doc_block {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  margin-top: 190px;
}

.doc__title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 32px;
}

.doc__desc {
  font-weight: 500;
  font-size: 16px;
}

.signing__spacing {
  margin-top: 104px;
  margin-bottom: 32px;
}

.signing__spacing {
  margin-top: 25px;
}

.signingDoc__block {
  display: flex;
  max-width: 1300px;
  width: 100%;
  flex-wrap: wrap;
}

.signingDoc__top {
  text-align: center;
  margin-bottom: 32px;
}

.signingDoc__title {
  font-weight: 700;
}

.signingDoc__right-text {
  margin-left: 120px;
}

.signingDoc__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.signingDoc__desc {
  font-weight: 500;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #4f5665;
}

.signingDoc__info {
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.signingDoc__info-left {
  display: flex;
  align-items: center;
  border: 0;
  background: none;
  cursor: pointer;
}

.signingDoc__info-desc {
  margin-right: 80px;
  font-size: 20px;
}

.signingDoc__form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 15px;
  margin-right: 15px;
}

.signingDoc__input {
  margin-right: 16px;
  width: 20px;
  height: 20px;
}

.signingDoc__btn {
  margin-left: 80px;
  color: #fff;
  background-color: #003cff;
  border-radius: 8px;
  padding: 11px 60px 11px 60px;
}

.doc_block {
  max-width: 554px;
  margin-bottom: 130px;
}

.doc__desc {
  max-width: 392px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .signing__spacing {
    margin-top: 104px;
    margin-bottom: 62px;
  }
  .signingDoc__desc {
    margin-top: 55px;
  }
  .signingDoc__info {
    justify-content: flex-start;
  }
  .signingDoc__form {
    justify-content: flex-end;
    margin-right: 0;
    margin-top: 0;
  }
  .signingDoc__info-desc {
    margin-right: 180px;
  }
  .signingDoc__block {
    justify-content: space-between;
  }
  .signingDoc__btn {
    margin-left: 44px;
  }
  .signingDoc__title {
    font-size: 30px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    -moz-column-gap: 120px;
         column-gap: 120px;
    align-items: center;
  }
}
.confirm__content {
  margin-bottom: 96px;
  margin-top: 104px;
}

.confirm__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 112%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #1c1c1e;
}

.confirm__code-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #808080;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  font-weight: 600;
  font-size: 20px;
  line-height: 112%;
}

.confirm__code-item--active {
  border: 1px solid #3182ce;
}

.confirm__code-item--error {
  border: 1px solid red;
}

.code-item__active {
  width: 45px;
  height: 38px;
  border: none;
  background: #f5f4ff;
  text-align: center;
}

.confirm__code-items {
  display: flex;
  justify-content: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin-top: 35px;
}

.confirm__code-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm__code-circle {
  border: 1.5px solid #808080;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.confirm__code-circle:focus {
  width: 45px;
  height: 38px;
  border: none;
  background: #f5f4ff;
  text-align: center;
}

.confirm__code-error {
  color: #ff5631;
  font-weight: 500;
  font-size: 16px;
  margin-top: 16px;
  justify-content: center;
  display: flex;
  line-height: 100%;
}

.congratulations__content {
  margin-top: 40px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.congratulations__title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #1c1c1e;
  margin: 32px auto;
}

.congratulations__desc {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #4f5665;
}

.congratulations__btn {
  font-weight: 700;
  font-size: 16px;
  padding: 16px;
  max-width: 268px;
  height: 50px;
  background: #003cff;
  border-radius: 16px;
  border: 0;
  color: #fff;
  margin-top: 32px;
}

.congratulations__img {
  max-width: 150px;
  width: 100%;
}/*# sourceMappingURL=style.css.map */