.cards-design_spacing {
    margin-top: 35px;
}
.cards-design div:first-child {
    // max-width: 610px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cards-design__promo-text {
    width: 100%;
    font-size: 33px;
    text-align: center;
    font-weight: 700;
    line-height: 50px;
    color: #1c1c1e;
}
.cards-design__choose-btn {
    width: 160px;
    height: 50px;
    margin-top: 22px;
}
.cards-design__promo-cards {
    // width: 518px;
    max-width: 464px;
    height: 315px;
    margin-top: 35px;
}
.cards-design__promo-cards img {
    height: 153px;
    width: 228px;
}

// .features_spacing {
//     margin-top: 40px;
// }
.features__img {
    background: url('../../img/features-sm.svg');
    // width: 508.12px;
    height: 414.71px;
}
.features__textblock {
    margin-top: 25px;
}
.features__textblock div:first-child {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 50px;
    color: #0b132a;
}
.features__textblock div:nth-child(2) {
    margin-top: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4f5665;
}
.features__list {
    height: 152px;
    margin-top: 25px;
    margin-left: 38px;
}
.features__item {
    position: relative;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4f5665;
}
.features__item::before {
    content: url('../../img/checkmark.svg');
    position: absolute;
    left: -36px;
    top: 4px;
}

.exchange {
    // height: 366px;
    background: linear-gradient(358.2deg, rgba(178, 178, 178, 0.8) 8.06%, rgba(178, 178, 178, 0) 67.93%), rgba(244, 244, 244, 0.9);
    mix-blend-mode: normal;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(187, 187, 187, 0.2);
    border-radius: 28px;
}
.exchange_spacing {
    margin-top: 35px;
    padding-left: 26px;
    padding-right: 32px;
}
.exchange__courses {
    padding-top: 35px;
}
.exchange__courses h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 50px;
    color: #1c1c1e;
}
.exchange__title {
    margin-top: 21px;
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}
.exchange__list {
    margin-top: 32px;
    width: 410px;
    min-height: 76.8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
}
.list-error {
    width: inherit;
    color: red;
}

.exchange__item span:last-child {
    margin-left: 20px;
}
.exchange__item span {
    font-weight: 700;
    font-size: 20px;
    line-height: 112%;
    letter-spacing: 0.02em;
    color: #000000;
}
.exchange__link_colored {
    margin-top: 51px;
    font-weight: 700;
    font-size: 20px;
    line-height: 112%;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.exchange__item span:first-child {
    color: #808080;
    mix-blend-mode: normal;
}
.exchange__update-time {
    padding-top: 50px;
    padding-bottom: 10px;
}
.exchange__update-time svg {
    display: none;
    margin-top: 90px;
}

// presence
.presence_spacing {
    margin-top: 35px;
}
.presence h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #1c1c1c;
}
.presence h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    color: #1c1c1e;
}
.presence__map {
    margin-top: -128px;
    width: 464px;
    height: 392px;
    background: url('../../img/map-sm.svg');
}

// news

.news_spacing {
    margin-top: 35px;
}
.news h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #000000;
}
.news h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    color: #2d3748;
}
.news-slider {
    max-width: 1300px;

    // width: 100%;
    /* margin: auto;
    padding: 15px; */
    text-align: center;
    position: relative;
}
.news-slider-loading {
    width: 100%;
}
.news-slider_spacing {
    margin-top: 46px;
}
.scroller {
    overflow: hidden;
    display: flex;
    scroll-snap-type: x mandatory;
}
.scroller-loading {
    justify-content: center;
}
.news-items-block {
    display: flex;
    justify-content: space-between;
    height: 448px;
}
.news-item {
    width: 320px;
    height: 448px;
    scroll-snap-align: start;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 28px;
    border: 2px solid #bbbbbb;
    margin: 0 40px;
    cursor: pointer;
}
.news-item:first-child {
    margin-left: 21px;
}
.card {
    width: 256px;
    height: 384px;
}
.card img {
    width: 256px;
    height: 120px;
}
.card p {
    margin-top: 32px;
    font-weight: 500;
    text-align: center;
    overflow: hidden;
}
.card p:nth-child(2) {
    height: 104px;
    font-size: 20px;
    line-height: 25px;
}
.card p:last-child {
    height: 96px;
    font-size: 16px;
    line-height: 23px;
    cursor: pointer;
}
.card p:last-child:hover {
    text-decoration: underline;
}
.btns-block {
    display: flex;
    justify-content: flex-end;
}
.btns-block_spacing {
    margin-top: 48px;
}
.left-btn,
.right-btn {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    border: none;
}
.right-btn {
    margin-left: 20px;
}
.left-btn_enabled {
    background: #003cff;
    background-image: url('../../img/arr-left-en.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.left-btn_disabled {
    background: #ffffff;
    background-image: url('../../img/arr-left-dis.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.right-btn_enabled {
    background: #003cff;
    background-image: url('../../img/arr-right-en.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.right-btn_disabled {
    background: #ffffff;
    background-image: url('../../img/arr-right-dis.svg');
    background-position: center;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 1490px) {
    .news-slider {
        max-width: 888px;
    }
    .scroller {
        margin-left: 92px;
    }
}
@media only screen and (max-width: 1300px) {
    .news-slider {
        max-width: 888px;
    }
}
@media only screen and (max-width: 900px) {
    .news-slider {
        max-width: 720px;
    }
    .scroller {
        margin-left: 0;
    }
    .news-item {
        margin: 0 22px;
    }
    .btns-block {
        justify-content: center;
    }
}
@media only screen and (max-width: 732px) {
    .news-slider {
        max-width: 321px;
    }
}
//Subscribe
.subscribe_spacing {
    margin-top: 35px;
}
.subscribe__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 147.4%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #eb801d;
}
.subscribe__subscribed {
    padding-top: 24px;
    color: darkgray;
    font-size: 16px;
}
.subscribe__error {
    padding-top: 24px;
    color: red;
    font-size: 16px;
}
.subscribe__text {
    // font-weight: 700;
    margin-top: 14px;
    font-size: 25px;
    line-height: 147.4%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1c1c1e;
}
.subscribe__text_weight {
    font-weight: 700;
}
.subscribe-form {
    // width: 525px;
    height: 90px;
    padding: 0 32px 0 32px;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(54, 58, 120, 0.1);
    border-radius: 20px;
}
.subscribe-form_spacing {
    margin-top: 25px;
}
.subscribe-form__email-wrapper {
    position: relative;
    padding-left: 43px;
}
.subscribe-form__email {
    border: 0;
}
.subscribe-form__email-wrapper::before {
    content: url('../../img/email.svg');
    position: absolute;
    left: 0px;
    top: -5px;
}
input[placeholder] {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 147.4%;
    letter-spacing: 0.02em;
    color: #9092b0;
}
.subscribe-form__btn {
    width: 161.48px;
    height: 44.92px;
    padding-left: 30px;
    position: relative;
    background: #686df1;
    border-color: transparent;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 126.9%;
    color: #ffffff;
}
.subscribe-form__btn::before {
    content: url('../../img/send.svg');
    position: absolute;
    left: 15px;
    top: -3px;
}

//
//
//
//
// Tablet
@media screen and (min-width: 768px) {
    .cards-design__promo-text {
        font-size: 27px;
    }
    .cards-design__promo-cards {
        max-width: 512px;
        height: 315px;
    }
    .cards-design__promo-cards img {
        width: 251px;
    }
    .features__img {
        margin-top: 35px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .subscribe__subscribed {
        font-size: 24px;
    }
    .subscribe__error {
        font-size: 24px;
    }
}
// Tablet-Small Laptop
@media screen and (min-width: 920px) {
    .cards-design div:first-child {
        align-items: flex-start;
    }
    .cards-design__promo-text {
        text-align: start;
    }
    .cards-design__promo-text {
        font-size: 26px;
    }
    .cards-design__promo-cards {
        margin-top: 0;
        max-width: 465px;
    }
    .cards-design__promo-cards img {
        width: 228px;
    }
    .features__img {
        background: url('../../img/features-sm-flex.svg');
        width: 350px;
        height: 400px;
    }
    .features__textblock {
        max-width: 500px;
    }
    .features__textblock div:first-child {
        font-size: 28px;
    }
    .features__textblock div:nth-child(2) {
        font-size: 13px;
    }
    .exchange_spacing {
        margin-top: 0;
    }
    .exchange__update-time svg {
        margin-top: 90px;
        display: block;
    }
    .exchange__link_colored {
        padding-bottom: 20px;
    }
}
// Laptop
@media screen and (min-width: 1300px) {
    .cards-design_spacing {
        margin-top: 132px;
    }
    .cards-design div:first-child {
        max-width: 610px;
        display: block;
    }
    .cards-design__promo-text {
        font-size: 48px;
        text-align: start;
    }
    .cards-design__choose-btn {
        margin-top: 38px;
    }
    .cards-design__promo-cards {
        max-width: 518px;
    }
    .cards-design__promo-cards img {
        height: 149px;
        width: auto;
    }
    .features_spacing {
        margin-top: 112px;
    }
    .features__img {
        background: url('../../img/features.svg');
        width: 508.12px;
        height: 414.71px;
    }
    .features__textblock {
        margin-top: 25px;
        max-width: none;
    }
    .features__textblock div:first-child {
        font-size: 35px;
    }
    .features__textblock div:nth-child(2) {
        font-size: 16px;
    }
    .exchange {
        height: 366px;
    }
    .exchange_spacing {
        margin-top: 68px;
    }
    .exchange__courses {
        padding-top: 12px;
    }
    .exchange__courses h3 {
        font-size: 30px;
    }
    .exchange__title {
        margin-top: 24px;
    }
    .exchange__update-time {
        padding-top: 25px;
        padding-bottom: 0;
    }

    .presence {
        height: 644px;
    }
    .presence_spacing {
        margin-top: 24px;
    }
    .presence h5 {
        margin-top: 10px;
    }
    .presence__map {
        margin-top: 48px;
        width: 1060px;
        height: 537.77px;
        background: url('../../img/map.svg');
    }
    .subscribe_spacing {
        margin-top: 48px;
    }
    .subscribe__text {
        margin-top: 30px;
        font-size: 30px;
    }
    .subscribe-form {
        width: 525px;
    }
    .subscribe-form_spacing {
        margin-top: 62px;
    }
}
